/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* label color */
.input-field label {
 color: #bdbdbd;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #0d47a1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #0d47a1;
 box-shadow: 0 1px 0 0 #0d47a1;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #0d47a1;
 box-shadow: 0 1px 0 0 #0d47a1;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #c62828;
 box-shadow: 0 1px 0 0 #c62828;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #0d47a1;
}

.material-icons{
    color: #263238;
}

#toast span{
    opacity: 1;
    transition: all 1.5s ease;
}

a.disabled{
    pointer-events: none;
}

.ag-cell-edit-input{
    height: 27px !important;
    line-height: 27px !important;
    font-size: 14px !important;
    padding-bottom: 8px !important;
}

#statusBtn{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
    background-color: #b4b7b8;
}

#statusBtn.enabled{
    background-color: #75e255;
}
